= render "items/header"
.container
  .container__main
    .container__main__left
      .container__main__left__list
        = link_to "#" do
          マイページ
      .container__main__left__list
        = link_to "#" do
          出品する
      .container__main__left__list
        = link_to "#" do
          出品した商品
      .container__main__left__list
        = link_to "#" do
          購入した商品
      .container__main__left__list
        = link_to "/credit_cards/show" do
          支払い方法
      .container__main__left__list
        = link_to "#" do
          ログアウト
    .container__main__right-box
      .container__main__right-box__title
        クレジットカード情報入力
      .container__main__right-box__title__credit-card-registration
        = form_tag(pay_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
          .container__main__right-box__title__credit-card-registration__top-box
            %label カード番号
            .container__main__right-box__title__credit-card-registration__top-box__require
              必須
          = text_field_tag "number", "", class: "container__main__right-box__title__credit-card-registration__num", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
          %ul.container__main__right-box__title__credit-card-registration__signup-card-list
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266",width:"49px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?238737266",width:"34px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?238737266",width:"30px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?238737266",width:"21px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?238737266",width:"32px",height:"20px"
          %br
          .container__main__right-box__title__credit-card-registration__midle-box
            %label 有効期限
            .container__main__right-box__title__credit-card-registration__midle-box__require
              必須
          %select#exp_month{name: "exp_month", type: "text"}
            %option{value: ""} --
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span 月/
          %select#exp_year{name: "exp_year", type: "text"}
            %option{value: ""} --
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          %span 年
          %br
          %br
          .container__main__right-box__title__credit-card-registration__bottom-box
            %label セキュリティコード
            .container__main__right-box__title__credit-card-registration__bottom-box__require
              必須            
          = text_field_tag "cvc", "", class: "container__main__right-box__title__credit-card-registration__cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
          %br
          #card_token
          %br
          = submit_tag "追加する", id: "token_submit"        

  = render "items/footer"