= render "items/header"
.container
  .container__main
    .container__main__left
      .container__main__left__list
        = link_to "#" do
          マイページ
      .container__main__left__list
        = link_to "#" do
          出品する
      .container__main__left__list
        = link_to "#" do
          出品した商品
      .container__main__left__list
        = link_to "#" do
          購入した商品
      .container__main__left__list
        = link_to "/credit_cards/show" do
          支払い方法
      .container__main__left__list
        = link_to "#" do
          ログアウト
    .container__main__right-box
      .container__main__right-box__payment
        支払い方法
      .container__main__right-box__inner
        .container__main__right-box__inner__title
          登録済みクレジットカード
        .container__main__right-box__inner__registered-credit-card
          = image_tag asset_path("#{@card_src}"), width: '60', height: '40', alt: @card_brand, id: "card_image"
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          %p
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          = form_tag(credit_card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
            %button.delete-btn 削除する
  = render "items/footer"