= render "items/header"
.container
  .container__main
    .container__main__left
      .container__main__left__list
        = link_to user_path do
          マイページ
      .container__main__left__list
        = link_to new_item_path do
          出品する
      .container__main__left__list
        = link_to "#" do
          出品した商品
      .container__main__left__list
        = link_to "#" do
          購入した商品
      .container__main__left__list
        = link_to "/credit_cards/show" do
          支払い方法
      .container__main__left__list
        = link_to "#" do
          ログアウト

    .container__main__right
      = image_tag asset_path("sky.jpg"), class:"container__main__right__backimage"
      = image_tag asset_path("member_photo_noimage_thumb.png"), class:"container__main__right__user-image"
      .container__main__right__user-name
        test1
        %div
          評価 0
          出品 0
      .container__main__right__title
        .container__main__right__title__notice
          お知らせ
        .container__main__right__title__todo-list
          やることリスト
      .container__main__right__contents
        事務局からの個別メッセージ「500円分ポイントが届きました！」
      .container__main__right__contents
        事務局からの個別メッセージ「500円分ポイントが届きました！」
      .container__main__right__view-list
        一覧を見る
      
      .container__main__right__mypage
        .container__main__right__mypage__head
          購入した商品
        %ul.container__main__right__mypage__head__tab
          %li.container__main__right__mypage__head__tab__during-trading
            取引中
          %li.container__main__right__mypage__head__tab__past-transactions
            過去の取引
= render "items/footer"