.main
  .main__inner
    %h2.main__inner__title
      購入内容の確認
    %section.main__inner__select-item
      .main__inner__select-item__inner
        .main__inner__select-item__inner__item-box
          %h3.main__inner__select-item__inner__item-box__image
            =image_tag @item.images.first.img.url
          .main__inner__select-item__inner__item-box__detail
            %p.main__inner__select-item__inner__item-box__detail__name
              = @item.name
            %p.main__inner__select-item__inner__item-box__detail__price
              %span
              = "¥#{@item.price.to_s}"
              %span.main__inner__select-item__inner__item-box__detail__price__shipping-fee
                （税込）送料込み
      
    %section.main__inner__purchase-info
      .main__inner__purchase-info__inner
        %form{action: "#"}
          .main__inner__purchase-info__inner__price-box
            .main__inner__purchase-info__inner__price-box__label
              支払い金額
            .main__inner__purchase-info__inner__price-box__amount-money
              = "¥#{@item.price.to_s}"             
          .main__inner__purchase-info__inner__credit-card-info
            .main__inner__purchase-info__inner__credit-card-info__content
              %h3.main__inner__purchase-info__inner__credit-card-info__content__label
                支払い方法
              .main__inner__purchase-info__inner__credit-card-info__content__change-btn
                = link_to "#" do
                  %span
                    変更する
            .main__inner__purchase-info__inner__credit-card-info__logo
              = image_tag asset_path("#{@card_src}"), width: '40', height: '30', alt: @card_brand, id: "card_image"                    
            %p.main__inner__purchase-info__inner__credit-card-info__detail
              %br
              = "**** **** **** " + @default_card_information.last4
              %br
              %p
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
          .main__inner__purchase-info__inner__delivery-info
            .main__inner__purchase-info__inner__delivery-info__content
              %h3.main__inner__purchase-info__inner__delivery-info__content__label
                配送先
              .main__inner__purchase-info__inner__delivery-info__content__change-btn
                = link_to "#" do
                  %span
                    変更する
            %p.main__inner__purchase-info__inner__delivery-info__detail
              = "〒#{@address.postal_code}" 
              %br
              = @address.prefecture
              = @address.city
              = @address.address
              = @address.apartment_name
              %br
              = current_user.firstname
              = current_user.lastname

          .main__inner__purchase-info__inner__last-content
            %p.main__inner__purchase-info__inner__last-content__delivery-guide
              郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。
              出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。          
      .main__inner__purchase-info__inner__purchase-btn
        = form_tag(action: :pay, method: :post) do
          %button.buy-button{type:"submit"}
            購入する