.simple-footer
  %nav
    %ul.simple-footer__info
      %li
        = link_to "#" do
          プライバシーポリシー
      %li
        = link_to "#" do
          FURIMA利用規約 
      %li
        = link_to "#" do
          FURIMAガイド

  .simple-footer__log
    = link_to "#" do
      = image_tag "header_log", size: "160x40", alt: "ICON" 
  %p
    © FURIMA
