.content
  .content__main 
    = form_with model: @item, local: true do |f|
      = render 'layouts/error_messages', model: f.object

      .content__main__item-image-box
        .text-bold
          出品画像
          %span.required
            必須
        最大10枚までアップロードできます
        %br
        #image-box
          = f.fields_for :images do |image|
            %div{data: { index: "#{image.index}" }, class: "js-file_group" }
              = image.file_field :img, class: "js-file"
              %br
                %span.js-remove
                  削除
      .content__main__item-name-box
        .text-bold
          商品名
          %span.required
            必須
        = f.text_field :name, class:"content__main__item-name-box__item-name-field", placeholder: "40文字まで", maxlength: 40
        .text-bold
          商品の説明
          %span.required
            必須
        = f.text_area :detail, class:"content__main__item-name-box__item-exp-field", placeholder: "商品の説明(必須１０００文字以内)\n(色、素材、重さ、定価、注意点など)\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", maxlength: 1000
          
      .content__main__item-info-box
        .content__main__item-info-box__headline
          商品の詳細
        .text-bold
          カテゴリー
          %span.required
            必須
        = f.collection_select :category_id, @categorys, :id, :name, {prompt: "選択してください"}, class: "content__main__item-info-box__category"
        .text-bold
          ブランド
        = f.text_field :brand, class:"content__main__item-info-box__brand-field", placeholder: "例）シャネル"

        .text-bold
          商品の状態
          %span.required
            必須
        = f.collection_select :condition, Stats.all, :id, :name, {prompt: "選択してください"}, class: "content__main__item-info-box__item-status"

      .content__main__delivery-box
        -# 「配送について」のリンクは削除してもいいかも
        .content__main__delivery-box__headline
          = link_to "#", class: "back-btn" do
            配送について
        .text-bold
          配送料の負担
          %span.required
            必須
        = f.collection_select :postage, Fee.all, :id, :name, {prompt: "選択してください"}, class: "content__main__delivery-box__delivery-fee"
        .text-bold
          発送元の地域
          %span.required
            必須
        = f.collection_select :ship_from, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: "content__main__delivery-box__area"
        .text-bold
          発送までの日数
          %span.required
            必須
        = f.collection_select :ship_date, Shipping.all, :id, :name, {prompt: "選択してください"}, class: "content__main__delivery-box__days"

      .content__main__price-box
        .content__main__price-box__headline
          価格(¥300〜9,999,999)
        .content__main__price-box__inner
          .content__main__price-box__inner__left-box
            .text-bold
              販売価格
              %span.required
                必須
          .content__main__price-box__inner__right-box
            = f.number_field :price, class:"content__main__price-box__inner__right-box__price", min: 300, max: 9999999
        .content__main__price-box__fee-inner
          .content__main__price-box__fee-inner__left
            販売手数料 (10%)
          .content__main__price-box__fee-inner__right
            [販売価格 * 0.1 の合計値が入ります]
        .content__main__price-box__profit-inner
          .content__main__price-box__profit-inner__left
            販売利益
          .content__main__price-box__profit-inner__right
            [販売価格 - 手数料 の合計値が入ります]        
      .content__main__botton-box
        = f.submit "出品する", class: "content__main__botton-box__send-botton"
        -# = f.submit "下書きに保存", class: "content__main__botton-box__draft-botton"
        = link_to "#", class: "back-btn" do
          もどる

    .content__main__warning-box
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。