.header  
  .header__inner
    .header__inner__main
      %h1.header__inner__main__icon
        = link_to root_path do
          = image_tag asset_path("header_log.svg"), size: "140x41", alt: "ICON" 
      =form_with url: items_searches_path, local: true, class: "header__inner__main__search-box", method: :get do |f|
        .header__inner__main__search-box
          = f.text_field :keyword, class: 'header__inner__main__search-box--text--form', placeholder: 'キーワードから探す'
          = f.button type: :submit, class: "header__inner__main__search-box--submit-btn" do
            = image_tag asset_path("icon-search.svg"), size: "20x20", alt: "ICON"
    .header__inner__nav
      %ul.header__inner__nav__left
        %li.header__inner__nav__left__category
          = link_to "#" do
            カテゴリー
          .header__inner__nav__left__category__box
            = render "categories/header-category"
        %li.header__inner__nav__left__brand
          = link_to "#" do
            ブランド
      %ul.header__inner__nav__right
        -if user_signed_in?
          %li.header__inner__nav__right__login
            = link_to destroy_user_session_path, method: :delete do
              ログアウト
          %li.header__inner__nav__right__new
            = link_to user_path(current_user) do
              マイページ
        -else
          %li.header__inner__nav__right__login
            = link_to new_user_session_path do
              ログイン
          %li.header__inner__nav__right__new
            = link_to new_user_registration_path do
              新規会員登録