.header  
  .header__inner
    .header__inner__main
      %h1.header__inner__main__icon
        = link_to "#" do
          = image_tag asset_path("/header_log"), size: "140x41", alt: "ICON" 
      .header__inner__main__search-box
        %form{action: "#"}
          %input{placeholder: "キーワードから探す", type: "seach"}/          
          %button{type: "submit"}
            = image_tag asset_path("icon-search"), size: "20x20", alt: "ICON" 
    .header__inner__nav
      %ul.header__inner__nav__left
        %li.header__inner__nav__left__category
          = link_to "#" do
            カテゴリー
        %li.header__inner__nav__left__brand
          = link_to "#" do
            ブランド
      %ul.header__inner__nav__right
        %li.header__inner__nav__right__login
          = link_to "#" do
            ログイン
        %li.header__inner__nav__right__new
          = link_to "#" do
            新規会員登録