.main
  %section.main__visual
    .main__visual__content
      %h2.main__visual__content__title
        人生を変えるフリマアプリ
      %p.main__visual__content__text      
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main__visual__content__app-btn
        = link_to "#" do
          = image_tag asset_path("app-store.svg"), size: "180x54", alt: "ICON" 
        = link_to "#" do
          = image_tag asset_path("google-play.svg"), size: "180x54", alt: "ICON"   

  %section.main__top-introduction
    %h2.main__top-introduction__title
      FURIMAが選ばれる3つの理由
    %ul.main__top-introduction__lists
      %li.main__top-introduction__lists__list
        .main__top-introduction__lists__list__pict
          %span.main__top-introduction__lists__list__pict__number
            1
          = image_tag asset_path("pict-reason-01.jpg"), alt: "ICON" 
        %h3.main__top-introduction__lists__list__text
          %span
            3分
          ですぐに出品
        %p.main__top-introduction__lists__list__description
          スマホで入力するだけで簡単に出品できる！
      %li.main__top-introduction__lists__list
        .main__top-introduction__lists__list__pict
          %span.main__top-introduction__lists__list__pict__number
            2
          = image_tag asset_path("pict-reason-02.jpg"), alt: "ICON" 
        %h3.main__top-introduction__lists__list__text
          %span
            シンプル
          で使いやすい
        %p.main__top-introduction__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.main__top-introduction__lists__list
        .main__top-introduction__lists__list__pict
          %span.main__top-introduction__lists__list__pict__number
            3
          = image_tag asset_path("pict-reason-03.jpg"), alt: "ICON" 
        %h3.main__top-introduction__lists__list__text
          手数料
          %span
            業界最安
        %p.main__top-introduction__lists__list__description
          スマホで入力するだけで簡単に出品できる！                    

  %section.main__top-app-dl
    .main__top-app-dl__inner
      %h2.main__top-app-dl__inner__title
        会員数日本一位
      %p.main__top-app-dl__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__top-app-dl__inner__app-btn
        = link_to "#" do
          = image_tag asset_path("app-store.svg"), size: "180x54", alt: "ICON" 
        = link_to "#" do
          = image_tag asset_path("google-play.svg"), size: "180x54", alt: "ICON"         
  %section.main__top-key-features
    %h2.main__top-key-features__head
      FURIMAの特徴
    .main__top-key-features__items
      %section.main__top-key-features__items__item
        %figure.main__top-key-features__items__item__image
          = image_tag asset_path("icon-01.svg"), alt: "ICON"
        %h3.figure.main__top-key-features__items__item__title
          簡単に売り買いできる
        %p.figure.main__top-key-features__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.main__top-key-features__items__item
        %figure.main__top-key-features__items__item__image
          = image_tag asset_path("icon-03.svg"), alt: "ICON"
        %h3.figure.main__top-key-features__items__item__title
          売上金は即日振込みに対応
        %p.figure.main__top-key-features__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.main__top-key-features__items__item
        %figure.main__top-key-features__items__item__image
          = image_tag asset_path("icon-04.svg"), alt: "ICON"
        %h3.figure.main__top-key-features__items__item__title
          様々な支払いに対応
        %p.figure.main__top-key-features__items__item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.main__top-pickup-contents
    %h2.main__top-pickup-contents__head
      ピックアップカテゴリ−
    .main__top-pickup-contents__product-box
      .main__top-pickup-contents__product-box__head
        = link_to "#" do
          %h3
            新規投稿商品   
      .main__top-pickup-contents__product-box__lists
        -@items.each do |item|
          .main__top-pickup-contents__product-box__lists__list
            = link_to "#" do
              %figure.main__top-pickup-contents__product-box__lists__list__image
                = image_tag asset_path("product3.png"), alt: "ICON"
              .main__top-pickup-contents__product-box__lists__list__body
                .main__top-pickup-contents__product-box__lists__list__body__name
                  %h3
                    product3
                .main__top-pickup-contents__product-box__lists__list__body__details
                  %ul
                    %li
                      30000円
                    %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                      %span
                        ★
                      ０
                  %p
                    (税込)
        .main__top-pickup-contents__product-box__lists__list
          = link_to "#" do
            %figure.main__top-pickup-contents__product-box__lists__list__image
              = image_tag asset_path("product2.png"), alt: "ICON"
            .main__top-pickup-contents__product-box__lists__list__body
              .main__top-pickup-contents__product-box__lists__list__body__name
                %h3
                  product2
              .main__top-pickup-contents__product-box__lists__list__body__details
                %ul
                  %li
                    20000円
                  %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                    %span
                      ★
                    ０
                %p
                  (税込)                  
        .main__top-pickup-contents__product-box__lists__list
          = link_to "#" do
            %figure.main__top-pickup-contents__product-box__lists__list__image
              = image_tag asset_path("product1.png"), alt: "ICON"
            .main__top-pickup-contents__product-box__lists__list__body
              .main__top-pickup-contents__product-box__lists__list__body__name
                %h3
                  product1
              .main__top-pickup-contents__product-box__lists__list__body__details
                %ul
                  %li
                    10000円
                  %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                    %span
                      ★
                    ０
                %p
                  (税込)      

  %section.main__top-pickup-contents
    %h2.main__top-pickup-contents__head
      ピックアップブランド
    .main__top-pickup-contents__product-box
      .main__top-pickup-contents__product-box__head
        = link_to "#" do
          %h3
            アーカイバ   
      .main__top-pickup-contents__product-box__lists
        .main__top-pickup-contents__product-box__lists__list
          = link_to "#" do
            %figure.main__top-pickup-contents__product-box__lists__list__image
              = image_tag asset_path("product3.png"), alt: "ICON"
            .main__top-pickup-contents__product-box__lists__list__body
              .main__top-pickup-contents__product-box__lists__list__body__name
                %h3
                  product3
              .main__top-pickup-contents__product-box__lists__list__body__details
                %ul
                  %li
                    30000円
                  %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                    %span
                      ★
                    ０
                %p
                  (税込)
        .main__top-pickup-contents__product-box__lists__list
          = link_to "#" do
            %figure.main__top-pickup-contents__product-box__lists__list__image
              = image_tag asset_path("product2.png"), alt: "ICON"
            .main__top-pickup-contents__product-box__lists__list__body
              .main__top-pickup-contents__product-box__lists__list__body__name
                %h3
                  product2
              .main__top-pickup-contents__product-box__lists__list__body__details
                %ul
                  %li
                    20000円
                  %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                    %span
                      ★
                    ０
                %p
                  (税込)                  
        .main__top-pickup-contents__product-box__lists__list
          = link_to "#" do
            %figure.main__top-pickup-contents__product-box__lists__list__image
              = image_tag asset_path("product1.png"), alt: "ICON"
            .main__top-pickup-contents__product-box__lists__list__body
              .main__top-pickup-contents__product-box__lists__list__body__name
                %h3
                  product1
              .main__top-pickup-contents__product-box__lists__list__body__details
                %ul
                  %li
                    10000円
                  %li.main__top-pickup-contents__product-box__lists__list__body__details__link-icon
                    %span
                      ★
                    ０
                %p
                  (税込) 
