= render "header"

.edit-wrapper
  = form_with model: @item, local: true do |f|
    .edit-wrapper__image-box
      .subtitle
        出品画像
        %span.necessary
          必須
      最大10枚までアップロードできます
      %br
      #image-box
        = f.fields_for :images do |image|
          %div{data: { index: "#{image.index}" }, class: "js-file_group" }
            = image.file_field :img, class: "js-file"
            %br
              %span.js-remove
                削除
    .edit-wrapper__title-box
      .subtitle
        商品名
        %span.necessary
          必須
      = f.text_field :name, class:"edit-wrapper__title-box__title-field", placeholder: "40文字まで", maxlength: 40
      .subtitle
        商品の説明
        %span.necessary
          必須
      = f.text_area :detail, class:"edit-wrapper__title-box__detail-field", placeholder: "商品の説明(必須１０００文字以内)\n(色、素材、重さ、定価、注意点など)\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", maxlength: 1000
        
    .edit-wrapper__info-box
      .edit-wrapper__info-box__headline
        商品の詳細
      .subtitle
        カテゴリー
        %span.necessary
          必須
      .jsCategory
        = f.collection_select :category_id, @parents, :id, :name, {prompt: "選択してください"}, class: "edit-wrapper__info-box__category"
      .subtitle
        ブランド
      = f.text_field :brand, class:"edit-wrapper__info-box__brand", placeholder: "例）シャネル"

      .subtitle
        商品の状態
        %span.necessary
          必須
      = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, class: "edit-wrapper__info-box__condition"

    .edit-wrapper__ship-box
      -# 「配送について」のリンクは削除してもいいかも
      .edit-wrapper__ship-box__headline
        = link_to "#", class: "back-btn" do
          配送について
      .subtitle
        配送料の負担
        %span.necessary
          必須
      = f.collection_select :fee_id, Fee.all, :id, :name, {prompt: "選択してください"}, class: "edit-wrapper__ship-box__fee"
      .subtitle
        発送元の地域
        %span.necessary
          必須
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: "edit-wrapper__ship-box__from"
      .subtitle
        発送までの日数
        %span.necessary
          必須
      = f.collection_select :shipping_id, Shipping.all, :id, :name, {prompt: "選択してください"}, class: "edit-wrapper__ship-box__days"

    .edit-wrapper__price
      .edit-wrapper__price__headline
        価格(¥300〜9,999,999)
      .edit-wrapper__price__inner
        .edit-wrapper__price__inner__left
          .subtitle
            販売価格
            %span.necessary
              必須
        .edit-wrapper__price__inner__right
          = f.number_field :price, class: "edit-wrapper__price__inner__right__price", min: 300, max: 9999999
      .edit-wrapper__price__fee-inner
        .edit-wrapper__price__fee-inner__left
          販売手数料 (10%)
        .edit-wrapper__price__fee-inner__right
          [販売価格 * 0.1 の合計値が入ります]
      .edit-wrapper__price__profit-inner
        .edit-wrapper__price__profit-inner__left
          販売利益
        .edit-wrapper__price__profit-inner__right
          [販売価格 - 手数料 の合計値が入ります]
    .edit-wrapper__btn-box
      = f.submit "更新する", class: "edit-wrapper__btn-box__edit-btn"
      .edit-wrapper__btn-box__back-btn
        = link_to item_path(@item.id), id: "back" do
          もどる

  .edit-wrapper__warning
    禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

= render 'footer'