= render "header"

.main-wrapper
  %h1.main-wrapper__title
    = @item.name
  .main-wrapper__main-content
    .main-wrapper__main-content__image
      ここに画像を表示
    %table.main-wrapper__main-content__status
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          出品者
        %th.main-wrapper__main-content__status__table__right
          = link_to "#" do
            = @item.user.nickname
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          カテゴリー
        %th.main-wrapper__main-content__status__table__right
          = link_to "#" do
            = @item.category.name
          -# Itemモデル生成後、以下コメントアウト外す
          -# = @item.category.parent.parent.name
          -# %br
          -# %i{class: "fas fa-chevron-right"}
          -# = @item.category.parent.name
          -# %br
          -# %i{class: "fas fa-chevron-right"}
          -# = @item.category.name
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          ブランド
        %th.main-wrapper__main-content__status__table__right
          = link_to "#" do
            = @item.brand
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          商品の状態
        %th.main-wrapper__main-content__status__table__right
          = @item.condition
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          配送料の負担
        %th.main-wrapper__main-content__status__table__right
          = @item.postage
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          配送元地域
        %th.main-wrapper__main-content__status__table__right
          = @item.ship_from
      %tr.main-wrapper__main-content__status__table
        %td.main-wrapper__main-content__status__table__left
          発送の目安
        %th.main-wrapper__main-content__status__table__right
          = @item.ship_date

  .main-wrapper__price
    %span.main-wrapper__price__icon
      ¥
    %span.main-wrapper__price__item
      = @item.price
    %span.main-wrapper__price__tax
      (税込み)
    %span.main-wrapper__price__postage-side
      送料込み
  .main-wrapper__buy-btn
    %a{ href: '#', id: 'btn' }
      購入する
  .main-wrapper__description
    %p.main-wrapper__description__inner
      = @item.detail

= render "footer"