= render "header"

.item-wrapper
  %h1.item-wrapper__title
    = @item.name
  .item-wrapper__main-content
    .item-wrapper__main-content__image
      ここに画像を表示
    %table.item-wrapper__main-content__status
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          出品者
        %th.item-wrapper__main-content__status__table__right
          %a{ href: '#', id: 'user' }
            = @item.user.nickname
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          カテゴリー
        %th.item-wrapper__main-content__status__table__right
          %a{ href: '#', id: 'category' }
            = @item.category.parent.parent.name
            %br
            %i{class: "fas fa-chevron-right"}
            = @item.category.parent.name
            %br
            %i{class: "fas fa-chevron-right"}
            = @item.category.name
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          ブランド
        %th.item-wrapper__main-content__status__table__right
          %a{ href: '#', id: 'brand' }
            = @item.brand
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          商品の状態
        %th.item-wrapper__main-content__status__table__right
          = @item.condition
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          配送料の負担
        %th.item-wrapper__main-content__status__table__right
          = @item.postage
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          配送元地域
        %th.item-wrapper__main-content__status__table__right
          = @item.ship_from
      %tr.item-wrapper__main-content__status__table
        %td.item-wrapper__main-content__status__table__left
          発送の目安
        %th.item-wrapper__main-content__status__table__right
          = @item.ship_date

  .item-wrapper__price
    %span.item-wrapper__price__icon
      ¥
    %span.item-wrapper__price__item
      = @item.price.to_s(:delimited)
    %span.item-wrapper__price__tax
      (税込み)
    %span.item-wrapper__price__postage-side
      送料込み
  .item-wrapper__btn-wrapper
    - if user_signed_in? && current_user.id == @item.user_id
      .item-wrapper__btn-wrapper__edit-destroy-btn
        .item-wrapper__btn-wrapper__edit-destroy-btn__edit-btn
          %a{ href: '#', id: 'edit-btn' }
            編集する
        .item-wrapper__btn-wrapper__edit-destroy-btn__destroy-btn
          %a{ href: '#', id: 'destroy-btn' }
            出品をやめる
    - elsif user_signed_in?
      .item-wrapper__btn-wrapper__buy-btn
        %a{ href: '#', id: 'buy-btn' }
          購入する
    - else
      .item-wrapper__btn-wrapper__not-current
        商品の購入には
        %a{ href: '#', id: 'buy-not-current'}
          新規登録
        &thinsp;または&thinsp;
        %a{ href: '#', id: 'buy-not-current'}
          ログイン
        が必要です。
  .item-wrapper__description
    %p.item-wrapper__description__inner
      = @item.detail

.comment-wrapper
  .comment-wrapper__index
    - @comments.each do |c|
      .comment-wrapper__index__info
        %p
          %strong
            .comment-wrapper__index__info__user
              = link_to c.user.nickname, "#"
            .comment-wrapper__index__info__date
              = c.created_at
      .comment-wrapper__index__content
        = c.comment
  - if user_signed_in?
    .comment-wrapper__form
      = form_with model: [@item, @comment], local: true do |f|
        = f.text_area :comment, class: 'comment-wrapper__form__text', placeholder: "コメントを入力", rows: "3"
        .comment-wrapper__form__msg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.submit "コメントを送信する", class: "comment-wrapper__form__btn"
  - else
    .comment-wrapper__not-current
      コメントの投稿には
      %a{ href: '#', id: 'not-current'}
        新規登録
      &thinsp;または&thinsp;
      %a{ href: '#', id: 'not-current'}
        ログイン
      が必要です。
= render "footer"