= render "header"
.detail-wrapper
  %h1.detail-wrapper__title
    = @item.name
  .detail-wrapper__content
    .detail-wrapper__content__images
      .detail-wrapper__content__images__active
        = image_tag @item.images[0].img.url, class: "detail-wrapper__content__images__active__image"
      - if @item.images[1].present?
        %ul.detail-wrapper__content__images__thumbnail
          - @item.images[1..-1].each do |images|
            %li.detail-wrapper__content__images__thumbnail__list
              = image_tag images.img.url, class: "detail-wrapper__content__images__thumbnail__list__image"
    %table.detail-wrapper__content__table
      %tr
        %td
          出品者
        %th
          = link_to '#', id: 'user' do
            = @item.seller.nickname
      %tr
        %td
          カテゴリー
        %th
          = link_to '#', id: 'category' do
            = @item.category.parent.parent.name
            %br
            %i{class: "fas fa-chevron-right"}
            = @item.category.parent.name
            %br
            %i{class: "fas fa-chevron-right"}
            = @item.category.name
      %tr
        %td
          ブランド
        %th
          = link_to '#', id: 'brand' do
            = @item.brand
      %tr
        %td
          商品の状態
        %th
          = @item.condition.name
      %tr
        %td
          配送料の負担
        %th
          = @item.fee.name
      %tr
        %td
          配送元地域
        %th
          = @item.prefecture.name
      %tr
        %td
          発送の目安
        %th
          = @item.shipping.name

  .detail-wrapper__price
    %span.detail-wrapper__price__icon
      ¥
    %span.detail-wrapper__price__figure
      = @item.price.to_s(:delimited)
    %span.detail-wrapper__price__tax
      (税込み)
    %span.detail-wrapper__price__fee
      送料込み
  .detail-wrapper__btn
    - if @item.buyer_id.present?
      .detail-wrapper__btn__sold
        この商品は売り切れました
    - elsif @item.buyer_id.nil?
      - if user_signed_in? && current_user.id == @item.seller_id
        .detail-wrapper__btn__management
          .detail-wrapper__btn__management__edit
            = link_to edit_item_path(@item.id), id: 'edit' do
              編集する
          .detail-wrapper__btn__management__destroy
            = link_to item_path, id: 'destroy', method: :DELETE do
              商品を削除する
      - elsif user_signed_in?
        .detail-wrapper__btn__buy
          = link_to "#{@item.id}/purchases", id: 'buy' do
            購入する
      - else
        .detail-wrapper__btn__unregist
          商品の購入には
          = link_to new_user_registration_path, id: 'unregist' do
            新規登録
          &thinsp;または&thinsp;
          = link_to new_user_session_path, id: 'unregist' do
            ログイン
          が必要です。
  .detail-wrapper__detail
    %p.detail-wrapper__detail__inner
      = @item.detail
.comment
  .comment__index
    - if @comments.empty?
      .comment__index__yet
        コメントはありません。
    - else
      - @comments.each do |c|
        .comment__index__info
          %p
            %strong
              .comment__index__info__user
                = link_to c.user.nickname, "#"
              .comment__index__info__date
                = c.created_at
        .comment__index__content
          = c.comment
          
    - if @item.buyer_id.present?
      .comment__sold
        ー 売り切れた商品にコメントは出来ません ー
    - elsif @item.buyer_id.nil?
      - if user_signed_in?
        .comment__form
          = form_with model: [@item, @comment], local: true do |f|
            = f.text_area :comment, class: 'comment__form__text', placeholder: "コメントを入力", rows: "3"
            .comment__form__msg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.submit "コメントを送信する", class: "comment__form__btn"
      - else
        .comment__unregist
          コメントの投稿には
          = link_to new_user_registration_path, id: 'unregist' do
            新規登録
          &thinsp;または&thinsp;
          = link_to new_user_session_path, id: 'unregist' do
            ログイン
          が必要です。
= render "footer"